{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/buttons.css" %}">
    <title>Ticket</title>
</head>

<body>

{#<nav role="navigation">#}
{#  <div id="menuToggle">#}
{#    <input type="checkbox" />#}
{##}
{##}
{##}
{#    <span></span>#}
{#    <span></span>#}
{#    <span></span>#}
{##}
{##}
{#    <ul id="menu">#}
{#      <a href="#"><li>Home</li></a>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}

<div id="main-menu">
<h1>My tickets</h1>
<button class="button-3" role="button">
   <a href="/ticket/add">Add new ticket</a>
</button>

    <ul>

        {% for ticket in tickets %}
            <li>{{ ticket.id }} - <a href="/ticket/{{ ticket.id }}">{{ ticket.title }}</a></li>
        {% endfor %}

    </ul>
</div>

</body>
</html>