{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/buttons.css" %}">
    <title>Ticket</title>
</head>

<body>
    <div style="text-align: center;">
        <div id="main-menu">
            <h1>My tickets</h1>
            <button class="button-3" role="button">
                <a href="/ticket/add">Add new ticket</a>
            </button>
            <ul>
                {% for ticket in tickets %}
                    {% if ticket.priority == "high" %}
                        <div class="important_ticket">
                            <li><a href="/ticket/{{ ticket.id }}">{{ ticket.title }}</a></li>
                        </div>
                    {% else %}
                        <div class="normal_ticket">
                            <li><a href="/ticket/{{ ticket.id }}">{{ ticket.title }}</a></li>
                        </div>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>

    </div>


</body>
</html>