{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>Ticket</title>
</head>
<body>

    <div style="text-align: center;">

        {% if ticket.priority == "High" %}
            <div class="ticket high_importance_ticket">
                <a style="color:red"><b>{{ ticket.title }}</b></a>
            </div>
        {% elif ticket.priority == "Medium" %}
            <div class="ticket medium_importance_ticket">
                <a style="color:orange"><b>{{ ticket.title }}</b></a>
            </div>
        {% else %}
            <div class="ticket low_importance_ticket">
                <a style="color:green"><b>{{ ticket.title }}</b></a>
            </div>
        {% endif %}

        <ul>
            <li>Category: {{ ticket.category }}</li>
            <li>Priority: {{ ticket.priority }}</li>
            <li>Details: {{ ticket.details }}</li>
            <li>Date: {{ ticket.date }}</li>
            <li>Status: {{ ticket.status }}</li>
        </ul>

    </div>

</body>
</html>