{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>Ticket</title>
</head>
<body>

    <div style="text-align: center;">

        <h1>{{ ticket.title }}</h1>

        <ul>
            <li>Category: {{ ticket.category }}</li>
            <li>Priority: {{ ticket.priority }}</li>
            <li>Details: {{ ticket.details }}</li>
            <li>Date: {{ ticket.date }}</li>
            <li>Status: {{ ticket.status }}</li>
        </ul>

    </div>

</body>
</html>